# High School Sports Analysis

In [4]:
import pandas as pd
participation_df = pd.read_excel('hs_sports_data.xlsx', index_col = 0)

In [5]:
participation_df.head()

,State,Sport,Boys School,Girls School,Boys Participation,Girls Participation
Year,,,,,,
2018/2019,AL,Adapted Basketball,0.0,0.0,0.0,0.0
2018/2019,AL,Adapted Bocce - Indoor,0.0,0.0,0.0,0.0
2018/2019,AL,Adapted Bowling,0.0,0.0,0.0,0.0
2018/2019,AL,Adapted Floor Hockey,0.0,0.0,0.0,0.0
2018/2019,AL,Adapted Soccer,0.0,0.0,0.0,0.0