# High School Sports Analysis

In [1]:
import pandas as pd
participation_df = pd.read_excel('hs_sports_data.xlsx', index_col = 0)

In [2]:
participation_df.head()

,State,Sport,Boys School,Girls School,Boys Participation,Girls Participation
Year,,,,,,
2018/2019,AL,Adapted Basketball,0.0,0.0,0.0,0.0
2018/2019,AL,Adapted Bocce - Indoor,0.0,0.0,0.0,0.0
2018/2019,AL,Adapted Bowling,0.0,0.0,0.0,0.0
2018/2019,AL,Adapted Floor Hockey,0.0,0.0,0.0,0.0
2018/2019,AL,Adapted Soccer,0.0,0.0,0.0,0.0

In [3]:
sports = sorted(list(participation_df['Sport'].value_counts().keys()))
states = list(participation_df['State'].unique())

In [4]:
analyzed_sports = ['Baseball', 'Basketball', 'Ice Hockey', 'Football -- 11-Player', 'Football -- 6-player', 'Football -- 8-player', 'Football -- 9-player', 'Soccer', 'Tennis', 'Track and Field -- Indoor', 'Track and Field -- Outdoor']
participation_df = participation_df[participation_df['Sport'].isin(analyzed_sports)]
participation_df.head(11)

,State,Sport,Boys School,Girls School,Boys Participation,Girls Participation
Year,,,,,,
2018/2019,AL,Baseball,396.0,0.0,14100.0,0.0
2018/2019,AL,Basketball,413.0,413.0,13648.0,8559.0
2018/2019,AL,Football -- 11-Player,386.0,0.0,32366.0,0.0
2018/2019,AL,Football -- 6-player,0.0,0.0,0.0,0.0
2018/2019,AL,Football -- 8-player,0.0,0.0,0.0,0.0
2018/2019,AL,Football -- 9-player,0.0,0.0,0.0,0.0
2018/2019,AL,Ice Hockey,0.0,0.0,0.0,0.0
2018/2019,AL,Soccer,183.0,172.0,6916.0,5434.0
2018/2019,AL,Tennis,170.0,171.0,1504.0,1926.0
2018/2019,AL,Track and Field -- Indoor,167.0,167.0,2728.0,2047.0
2018/2019,AL,Track and Field -- Outdoor,356.0,356.0,8317.0,5962.0

In [5]:
participation_df = participation_df.drop(columns=['Boys School', 'Girls School', 'Girls Participation'])
participation_df = participation_df.rename(columns={"Boys Participation": "Participation"})
participation_df = participation_df.reset_index()
participation_df.head()

        Year State                  Sport  Participation
0  2018/2019    AL               Baseball        14100.0
1  2018/2019    AL             Basketball        13648.0
2  2018/2019    AL  Football -- 11-Player        32366.0
3  2018/2019    AL   Football -- 6-player            0.0
4  2018/2019    AL   Football -- 8-player            0.0

In [6]:
school_year_start = participation_df['Year'].str.split("/", n = 1, expand = True)
participation_df['Year'] = school_year_start[0]

football = participation_df['Sport'].str.split(" -- ", n = 1, expand = True)
participation_df['Sport'] = football[0]
participation_df.head(10)

   Year State            Sport  Participation
0  2018    AL         Baseball        14100.0
1  2018    AL       Basketball        13648.0
2  2018    AL         Football        32366.0
3  2018    AL         Football            0.0
4  2018    AL         Football            0.0
5  2018    AL         Football            0.0
6  2018    AL       Ice Hockey            0.0
7  2018    AL           Soccer         6916.0
8  2018    AL           Tennis         1504.0
9  2018    AL  Track and Field         2728.0

In [7]:
#participation_df.head(11)

In [14]:
def measure_growth_by_state(sport, state):
    sport_df = participation_df[participation_df['Sport'] == sport]
    state_df = sport_df[sport_df['State'] == state]
    if sport == 'Football':
        grouped_df = state_df.groupby('Year').sum().reset_index()
        grouped_df['State'] = state
        return grouped_df.pivot(index='State', columns='Year', values='Participation').to_dict('index')
    elif sport == 'Track and Field':
        grouped_df = state_df.groupby('Year').mean().reset_index()
        grouped_df['State'] = state
        return grouped_df.pivot(index='State', columns='Year', values='Participation').to_dict('index')
    else:
        return state_df.pivot(index='State', columns='Year', values='Participation').to_dict('index')

sport_dfs = {}
for sport in list(participation_df['Sport'].unique()):
    sport_dfs[sport] = {}
    for state in states:
        #sports_dfs[sport].append(measure_growth_by_state(sport, state))
        sport_dfs[sport].update(measure_growth_by_state(sport, state))
    sport_dfs[sport] = pd.DataFrame.from_dict(sport_dfs[sport], orient='index')

from matplotlib import pyplot as plt
sport_dfs['Football'].reset_index()
#plt.plot(sport_dfs['Football'])
#plt.show()

,index,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,AK,1724.0,1554.0,1794.0,2033.0,1883.0,2018.0,1958.0,2037.0,2051.0,2083.0,1876.0,1970.0,1970.0,2005.0,1854.0,1798.0,1564.0
1,AL,21301.0,21301.0,21590.0,21590.0,21590.0,22052.0,22283.0,22052.0,22833.0,22715.0,22875.0,22841.0,31468.0,32592.0,30404.0,30882.0,32366.0
2,AR,8433.0,8007.0,9158.0,10706.0,9929.0,13100.0,12000.0,11120.0,11929.0,11576.0,8734.0,10977.0,10621.0,11092.0,10732.0,10542.0,10374.0
3,AZ,16744.0,16474.0,17743.0,18817.0,19444.0,19764.0,19764.0,20192.0,21246.0,13439.0,22231.0,22620.0,21054.0,23429.0,20299.0,19650.0,18472.0
4,CA,96980.0,96980.0,100915.0,100915.0,109946.0,109946.0,106731.0,106731.0,106162.0,106535.0,104619.0,105721.0,106174.0,102133.0,99261.0,96385.0,93374.0
5,CO,13443.0,14152.0,16226.0,17077.0,17758.0,19261.0,17270.0,15747.0,16809.0,16595.0,16979.0,16489.0,16229.0,16745.0,16627.0,15731.0,16887.0
6,CT,9074.0,9032.0,9522.0,9814.0,10251.0,10228.0,10629.0,10792.0,10567.0,10602.0,10263.0,10158.0,9662.0,9842.0,9573.0,9196.0,9017.0
7,DC,666.0,675.0,555.0,585.0,727.0,727.0,727.0,727.0,727.0,727.0,727.0,1289.0,1349.0,1342.0,1306.0,1346.0,1468.0
8,DE,2536.0,2435.0,1943.0,2818.0,3102.0,3224.0,3193.0,3091.0,3146.0,3028.0,3011.0,3019.0,3262.0,3067.0,2777.0,2868.0,2843.0
9,FL,35967.0,35993.0,36119.0,37733.0,38744.0,36101.0,40456.0,38268.0,38451.0,41127.0,34848.0,40606.0,41182.0,42262.0,43515.0,41852.0,40361.0
10,GA,25402.0,27047.0,27047.0,29799.0,29799.0,32209.0,32209.0,32088.0,32088.0,32726.0,33207.0,32979.0,32979.0,34334.0,33758.0,33027.0,31904.0
11,HI,4269.0,4346.0,4329.0,4729.0,4853.0,5009.0,4955.0,4926.0,4875.0,4875.0,3815.0,4312.0,4334.0,4631.0,4496.0,4298.0,4444.0
12,IA,21191.0,20873.0,20990.0,21753.0,22129.0,23677.0,21774.0,20992.0,21072.0,21085.0,20697.0,20592.0,19852.0,19600.0,18759.0,18304.0,17746.0
13,ID,7558.0,8349.0,7560.0,7789.0,8357.0,7712.0,8275.0,7960.0,7799.0,7812.0,7675.0,7676.0,7475.0,7795.0,7796.0,7677.0,7443.0
14,IL,50022.0,49114.0,48125.0,48294.0,48844.0,51334.0,50956.0,49543.0,47994.0,47445.0,46889.0,47068.0,46896.0,44451.0,42682.0,40111.0,38366.0
15,IN,20218.0,21609.0,22043.0,22576.0,22918.0,23106.0,23241.0,23023.0,22512.0,22050.0,21726.0,21760.0,21772.0,21839.0,21589.0,20849.0,20344.0
16,KS,16490.0,16463.0,16583.0,15931.0,16495.0,17043.0,16773.0,16409.0,16679.0,16522.0,16189.0,16110.0,15989.0,16314.0,14720.0,14790.0,14640.0
17,KY,11934.0,11934.0,12772.0,12887.0,12829.0,13842.0,13842.0,13842.0,13842.0,14042.0,13261.0,13788.0,13118.0,14305.0,13732.0,13271.0,13033.0
18,LA,16108.0,16108.0,16428.0,16428.0,16428.0,4260.0,12520.0,14839.0,18229.0,20293.0,20193.0,20087.0,20418.0,20540.0,19831.0,19690.0,19629.0
19,MA,19807.0,20221.0,20877.0,22037.0,22169.0,21758.0,20789.0,20626.0,20383.0,19865.0,19651.0,20113.0,19845.0,19756.0,18913.0,18926.0,18019.0
20,MD,12932.0,14779.0,14025.0,14579.0,15272.0,15559.0,15418.0,15396.0,15464.0,14912.0,14606.0,14373.0,14293.0,13941.0,13418.0,12928.0,12146.0
21,ME,3659.0,3738.0,3848.0,3969.0,4072.0,4014.0,4148.0,4024.0,3902.0,3721.0,3744.0,3768.0,3487.0,3663.0,3631.0,3443.0,3207.0
22,MI,44480.0,42717.0,44990.0,46489.0,46308.0,46563.0,45257.0,43807.0,43749.0,42997.0,41461.0,40630.0,40023.0,39427.0,37590.0,36881.0,35300.0
23,MN,29559.0,28573.0,28505.0,27961.0,27758.0,30103.0,27968.0,27451.0,26151.0,25861.0,26563.0,25487.0,25690.0,25650.0,25010.0,25031.0,24990.0
24,MO,22000.0,22354.0,22225.0,22331.0,23465.0,24094.0,24866.0,23935.0,21882.0,23603.0,23580.0,23720.0,22571.0,22346.0,21732.0,21466.0,20463.0
25,MS,20090.0,20273.0,17926.0,18280.0,22351.0,22351.0,22351.0,22353.0,22353.0,22353.0,22501.0,22345.0,23045.0,22473.0,22573.0,22485.0,22465.0
26,MT,7180.0,6773.0,6213.0,6426.0,6043.0,6069.0,6150.0,5988.0,5850.0,5955.0,5610.0,5617.0,5409.0,5347.0,5302.0,4905.0,4692.0
27,NC,25229.0,25449.0,26639.0,28074.0,33753.0,29569.0,29179.0,35214.0,35691.0,35338.0,35608.0,36273.0,29795.0,29485.0,29135.0,28600.0,26969.0
28,ND,4817.0,4643.0,4141.0,4484.0,4591.0,4483.0,4295.0,4107.0,4058.0,4112.0,4094.0,4091.0,3892.0,4020.0,4043.0,4090.0,4052.0
29,NE,10937.0,14453.0,14492.0,14629.0,14569.0,14452.0,14097.0,13717.0,13498.0,13326.0,13243.0,13195.0,12980.0,12804.0,12541.0,11996.0,11701.0
30,NH,2964.0,2944.0,3305.0,3528.0,3622.0,3537.0,3753.0,3679.0,3755.0,3530.0,3548.0,3547.0,3509.0,3554.0,3388.0,3339.0,3120.0
31,NJ,23900.0,24414.0,24917.0,26764.0,27081.0,27028.0,27623.0,25872.0,25519.0,25592.0,25888.0,26138.0,24879.0,24835.0,24730.0,23034.0,22515.0
32,NM,8404.0,8404.0,7270.0,7270.0,6902.0,6921.0,7993.0,7888.0,7888.0,6980.0,6845.0,7293.0,7241.0,7203.0,6827.0,6698.0,6481.0
33,NV,6548.0,6555.0,6997.0,7180.0,7296.0,7395.0,7005.0,7005.0,7727.0,7417.0,7061.0,6939.0,7103.0,7180.0,7046.0,6731.0,7083.0
34,NY,33410.0,33410.0,34738.0,34738.0,34738.0,38354.0,38354.0,38354.0,37673.0,35552.0,35552.0,35552.0,35552.0,32387.0,31470.0,30305.0,28337.0
35,OH,43980.0,44786.0,46550.0,47037.0,47586.0,52385.0,55392.0,55336.0,48227.0,46598.0,46062.0,44611.0,42881.0,42881.0,42776.0,42879.0,40076.0
36,OK,11730.0,12639.0,12620.0,12750.0,12400.0,12915.0,12915.0,13400.0,14000.0,12894.0,16344.0,16188.0,16689.0,18207.0,17273.0,15820.0,14788.0
37,OR,13239.0,14437.0,14471.0,14266.0,14808.0,14966.0,15009.0,14393.0,14409.0,14109.0,13985.0,14014.0,13797.0,13788.0,12997.0,12419.0,12046.0
38,PA,24480.0,25605.0,25650.0,25785.0,26460.0,26865.0,26910.0,26730.0,26505.0,26370.0,26280.0,26100.0,26010.0,25920.0,25740.0,25605.0,25515.0
39,RI,2642.0,2772.0,2813.0,2986.0,3017.0,3171.0,2950.0,2901.0,2911.0,2953.0,2928.0,3069.0,2903.0,2879.0,2927.0,2798.0,2690.0
40,SC,17161.0,17131.0,17164.0,17928.0,18742.0,18359.0,18617.0,18962.0,18879.0,18854.0,19069.0,19543.0,18549.0,19151.0,18643.0,18204.0,17789.0
41,SD,5961.0,5679.0,5779.0,5813.0,5964.0,5946.0,5926.0,5790.0,5719.0,5595.0,5438.0,5586.0,5500.0,5254.0,5311.0,5037.0,4997.0
42,TN,19025.0,19241.0,21105.0,21772.0,22304.0,22899.0,22875.0,22868.0,22651.0,22994.0,22504.0,23003.0,22632.0,22943.0,22506.0,21938.0,20920.0
43,TX,161138.0,161988.0,162771.0,162815.0,164820.0,164933.0,164378.0,164688.0,171680.0,170683.0,168604.0,167674.0,167260.0,167147.0,167247.0,168611.0,169288.0
44,UT,7671.0,7455.0,7698.0,7672.0,7818.0,7797.0,7876.0,8104.0,8348.0,8212.0,8784.0,8638.0,8587.0,8794.0,9153.0,8944.0,8596.0
45,VA,22764.0,22758.0,23879.0,24855.0,25722.0,26002.0,25864.0,25651.0,25549.0,25476.0,25965.0,24954.0,24152.0,24394.0,23929.0,23108.0,22526.0
46,VT,1742.0,1509.0,1644.0,1813.0,1924.0,1346.0,1502.0,1385.0,1547.0,1172.0,1159.0,1543.0,1035.0,1035.0,993.0,688.0,993.0
47,WA,20877.0,21449.0,18948.0,22273.0,22839.0,20269.0,20051.0,22422.0,21846.0,22090.0,22007.0,21911.0,22090.0,21747.0,21776.0,23886.0,19200.0
48,WI,30548.0,30053.0,29522.0,30568.0,30634.0,31293.0,30823.0,29442.0,28495.0,28426.0,27840.0,27059.0,26545.0,26916.0,25629.0,24854.0,23800.0
49,WV,6164.0,5394.0,5378.0,5413.0,6630.0,6530.0,6534.0,6404.0,6183.0,6089.0,5978.0,6198.0,5985.0,6005.0,5973.0,5710.0,5551.0
50,WY,2787.0,2618.0,2621.0,2756.0,2727.0,2822.0,2778.0,2781.0,2874.0,2838.0,2891.0,2790.0,2822.0,2801.0,2815.0,2843.0,2644.0

2012 - 2013 is what we'll look at as a potential turning point

In [1]:
another commit

SyntaxError: invalid syntax (<ipython-input-1-969d43cb1336>, line 1)